<template>
  <div>
    <loading :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="true"></loading>

    <h1 class="title">Solve code task</h1>
    <h2 class="subtitle">Write a method that sums two numbers a and b</h2>

    <div>

      <label class="label">Your solution:</label>

      <div class="box" align="center">
        <prism-editor class="code-editor height-400" v-model="code" :highlight="highlighter" line-numbers></prism-editor>
      </div>

    </div>

    <button class="button is-primary" @click="submitSolution">Submit</button>

    <FlashMessage></FlashMessage>
  </div>
</template>

<script>
  import Vue from 'vue';
  import axios from 'axios'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import FlashMessage from '@smartweb/vue-flash-message';
  Vue.use(FlashMessage);

  import { PrismEditor } from "vue-prism-editor";
  import "vue-prism-editor/dist/prismeditor.min.css"; // Import the styles somewhere

  // import highlighting library
  import { highlight, languages } from "prismjs/components/prism-core";
  import "prismjs/components/prism-clike";
  import "prismjs/components/prism-javascript";
  import "prismjs/components/prism-python";
  import "prismjs/themes/prism-tomorrow.css"; // Import syntax highlighting styles

  const updateInterval = 1000; // 1 second
  const flashMessageTime = 3000; // 3 seconds
  const apiAddress = 'http://localhost:8000/api/v1/';

  export default {
    name: 'Home',

    data() {
      return {
        code: 'sum(a, b)',
        status: '',
        id: '',

        interval: '', // For timer
        isLoading: false, // Loading
      }
    },

    mounted() {
      if (localStorage.id) {
        this.id = localStorage.id;

        // Restore code by id and get status.
        axios({
          method: 'get',
          url: apiAddress + 'solution/' + this.id,
        })
        .then(response => {
          this.code = response.data.code;
          this.status = response.data.status;

          if (this.status == 'correct') {
            this.showCorrect();
          } else if (this.status == 'wrong') {
            this.showWrong();
          } else if (this.status == 'evaluation') {
            this.checkSolution();
          } else {
            this.showError();
          }
        })
        .catch(error => {
          this.showError();
          console.log(error);
        });
      }
    },

    watch: {
      id(newId) {
        localStorage.id = newId;
      }
    },

    components: {
      Loading,
      PrismEditor,
    },

    methods:
    {
      /**
       *  Submits solution in post request and starts solution status updating.
       */
      submitSolution() {
        const solution = { code: this.code };
        axios({
          method: 'post',
          url: apiAddress + 'solutions/',
          data: {
            code: this.code,
          }
        })
          .then(response => {
            this.id = response.data.id;
            this.status = response.data.status;

            // Check the status of solution (periodically).
            this.checkSolution();
          })
          .catch(error => {
            this.showError();
            console.log(error);
          });
      },

      /**
       *  Check the status of the solution.
       */
      checkSolution() {
        this.isLoading = true; // Lock page

        // Check the status of solution each timer tick.
        this.interval = setInterval(() => {

          // I tried to set up get request with 'parameters' (?id=<id>),
          // but django url parameters handler worked strange.
          axios({
            method: 'get',
            url: apiAddress + 'status/' + this.id,
          })
          .then(response => {
            this.id = response.data.id;
            this.status = response.data.status;

            // Handle evaluation status: if status == evaluation, then do nothing, else:
            if (this.status != 'evaluation') {
              clearInterval(this.interval) // Stop timer
              this.isLoading = false; // Unlock page

              if (this.status == 'correct') {
                this.showCorrect();
              } else if (this.status == 'wrong') {
                this.showWrong();
              } else {
                clearInterval(this.interval); // Stop timer
                this.isLoading = false; // Unlock page
                this.showError();
              }
            }
          })
          .catch(error => {
            console.log(error);
            clearInterval(this.interval); // Stop timer
            this.isLoading = false; // Unlock page
            this.showError();
          });
        }, updateInterval)
      },

      highlighter(code) {
        return highlight(code, languages.js);
      },

      showCorrect() {
        this.flashMessage.success({
          title: 'Nice',
          message: 'Your solution is correct!',
          time: flashMessageTime,
        });
      },

      showWrong() {
        this.flashMessage.error({
          title: 'Sob sob...',
          message: 'Your solution is wrong',
          time: flashMessageTime,
        });
      },

      showError() {
        this.flashMessage.error({
          title: 'Error',
          message: 'We have a problem with our service, try to submit your solution later',
          time: flashMessageTime,
        });
      },
    },
  }
</script>

<style scoped>

.code-editor {
  background: #F5FBFC;
  color: #ccc;

  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 24px;
  line-height: 1.5;
  padding: 5px;
}

.prism-editor__textarea:focus {
  outline: none;
}

.height-400 {
  height: 400px;
}

.box {
  width: 60%;
  padding: 10px;
  margin: auto;
}

</style>
